<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход | Киносервис</title>
    <link rel="stylesheet" href="C:\Users\pesas\OneDrive\Desktop\webdev-exam-2025-2-Polikarpov\frontend\static\css\login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="auth-container">
    <div class="logo">
      <i class="fas fa-film"></i>
      <span>Киносервис</span>
    </div>
    
    <h1>Вход в аккаунт</h1>
    
    <form id="login-form" class="auth-form">
      <div class="form-group">
        <label for="email">
        Email
        </label>
        <input type="email" id="email" placeholder="example@mail.com" required>
      </div>
      
      <div class="form-group">
        <label for="password">
        Пароль
        </label>
        <input type="password" id="password" placeholder="Введите пароль" required>
      </div>
      
      <div class="form-options">
        <label class="remember-me">
          <input type="checkbox" id="remember">
          <span>Запомнить меня</span>
        </label>
        <a href="/forgot-password.html" class="forgot-password">Забыли пароль?</a>
      </div>
      
      <button type="submit" class="auth-button">
        <i class="fas fa-sign-in-alt"></i> Войти
      </button>
    </form>
    
    <div class="auth-footer">
      <p class="auth-link">Нет аккаунта? <a href="C:\Users\pesas\OneDrive\Desktop\webdev-exam-2025-2-Polikarpov\frontend\template\register.html">Зарегистрироваться</a></p>
    </div>
  </div>
  <script src=""></script>
</body>
</html>